.player {
  max-width: 750px;
  margin: 0 auto;
  text-align: center;
}

.player__video {
  width: 100%;
  background-color: #333;
}

.player__controls {
  display: flex;
  align-items: center;
  background: rgba(0,0,0,0.5);
  padding: 10px;
}

.player__button {
  background: none;
  border: 0;
  color: white;
  font-size: 20px;
  margin: 0 10px;
  cursor: pointer;
}

.player__slider {
  width: 100px;
  height: 30px;
}

.progress {
  flex: 1;
  position: relative;
  height: 5px;
  background: #333;
  cursor: pointer;
}

.progress__filled {
  width: 0;
  height: 100%;
  background: #ffc600;
  flex: 0;
  transition: flex-basis 0.2s;
}
